<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<title>iGyming</title>
		<link href="{{ url_for('static', filename='style.css') }}" ref="stylesheet" type="text/css">
	</head>
	<body>
		<div id="pagewrap"></div>
		<!-- /#pagewrap -->
		<header id="header">
		<hgroup>
		<h1 id="site-logo">
			<a href="#">iGyming</a>
		</h1>
		<h2 id="site-description">health and fitness</h2>
		</hgroup>
		<nav>
		<ul id="main-nav" class="clearfix">
			<li>
			<a href="http://www.igyming.com">Home</a>
			</li>
			<li>
			<a href="http://www.igyming.com/exercise>Exercise">Exercise</a>
			</li>
		</ul>
		</nav>
		<form id="searchform">
			<input type="search" id="s" placeholder="Search">
		</form>
		</header>
		<!-- /#header -->
	</body>
</html>


