<!DOCTYPE html> 
<html> 
    <head>
      <title>爱机敏</title>
      <meta property="qc:admins" content="1161210377617151676375" />
      <link rel="icon" type="imgage/png" href={{ url_for('static', filename='igyming.png') }} />
    </head>
    <script src="{{ url_for('static', filename='jquery-1.11.1.js') }} "type="text/javascript">
    </script>
    <body>
	<a onclick="window.location='/oauth/qq'">
		<img src="{{ url_for('static', filename='Connect_logo_5.png') }}"> </a>
	<a onclick="window.location='/oauth/taobao'">
		<img src="{{ url_for('static', filename='taobao.png')  }}" >
	</a>

    </body> 
</html>
